.LandingPageContainer {
    text-align: center;
}

.LandingPageLink {
    border: 1px solid #9d79ff;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.landingPageInto {
  background: rgb(37, 37, 37);
  width: 40%;
  border-radius: 6px;
  margin: 20px auto;
  padding: 30px;
  border: rgb(157, 121, 255) 4px solid;
  text-align: center;
}

.LandingPageLink a:visited {
    color: white;
}